body{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 35%;
    padding-right: 35%;
}

#outer-container {
    width: 100%;
    height: 700px;
    padding: 5px 5px 5px 5px;
    border: dashed black 1px;
}
#inner-container {
    width: auto;
    height: 100%;
    border: dashed black 1px;
}
.inner-divs{
    width: auto;
    height: 100px;
    margin: 5px 5px 5px 5px;
    display: flex;
    border: dashed black 1px;
}
